<div class="<%= wrapper_classes %>">
  <% if @label.present? %>
    <label for="<%= @name %>" class="<%= label_element_classes %>">
      <%= @label %>
      <% if @required %>
        <span class="text-danger-600">*</span>
      <% end %>
    </label>
  <% end %>

  <div class="<%= input_wrapper_classes %>">
    <% if has_prefix_icon? %>
      <div class="<%= prefix_icon_classes %>">
        <%= prefix_icon %>
      </div>
    <% end %>

    <textarea <%= tag.attributes(input_attributes) %>><%= @value %></textarea>

    <% if has_suffix_icon? %>
      <div class="<%= suffix_icon_classes %>">
        <%= suffix_icon %>
      </div>
    <% end %>
  </div>

  <% if @hint.present? %>
    <div class="<%= hint_element_classes %>">
      <%= @hint %>
    </div>
  <% end %>

  <% if has_errors? %>
    <div class="<%= errors_element_classes %>">
      <% @errors.each do |error| %>
        <div><%= error %></div>
      <% end %>
    </div>
  <% end %>
</div>
